.container{
    margin-top: 3em;

}

.title{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 48px;
    color: #343a40;;
    line-height: 1.5;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: Center;
    margin: 0 0 20px 0;
}
.title b{
    font-weight: 700;
    color:#E7272D;
}
.flexContainer{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 10px;
    column-gap: 50px;
    padding: 0 15px;
}

@media only screen and (max-width:1200px) {
    .flexContainer{
        column-gap: 20px;
    }
    
}